langchain 
langchain-community
torch 
faiss-cpu 
streamlit
python-dotenv
huggingface_hub 
sentence_transformers 
faiss-cpu 
unstructured
Cython 
tiktoken
unstructured[local-inference]
pypdf2
langchain_huggingface
